<a href="https://colab.research.google.com/github/HillaAnku/HillaAnku/blob/master/Cat_vars_exploration_credit_risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Categorical Variables Processing And Selection**

This notebook walks through the processing and feature selection of categorical variables in the lending club dataset in preparation for the building a credit risk model.

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from scipy.stats.mstats import winsorize
from sklearn.preprocessing import StandardScaler

In [0]:
# load data

lendingclub_df = pd.read_csv('/content/drive/My Drive/python_for_data_scientists/lendingclub.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
# display all the columns of the dataset

pd.options.display.max_columns = None

The aim here separate all the categorical variables into a datframe and process them.

In [0]:
# Make a list of all categorical varables

cat_vars = []
for column_name in lendingclub_df.columns:
    if lendingclub_df[column_name].dtype == 'object':
        cat_vars.append(column_name)

In [0]:
# List of categorical variables
cat_vars

['term',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'initial_list_status',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'application_type',
 'verification_status_joint',
 'sec_app_earliest_cr_line',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_loan_status',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date']

In [0]:
# Carve a new dataframe from the dataset made of only categorical variables

cat_vars_df = lendingclub_df[cat_vars]

In [0]:
# view dataframe

cat_vars_df.head()

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
0,36 months,C,C1,Chef,10+ years,RENT,Not Verified,Dec-2018,Current,n,NaN,debt_consolidation,Debt consolidation,109xx,NY,Apr-2001,w,Feb-2019,Mar-2019,Feb-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
1,60 months,D,D2,Postmaster,10+ years,MORTGAGE,Source Verified,Dec-2018,Current,n,NaN,debt_consolidation,Debt consolidation,713xx,LA,Jun-1987,w,Feb-2019,Mar-2019,Feb-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
2,36 months,D,D1,Administrative,6 years,MORTGAGE,Source Verified,Dec-2018,Current,n,NaN,debt_consolidation,Debt consolidation,490xx,MI,Apr-2011,w,Feb-2019,Mar-2019,Feb-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
3,36 months,D,D2,IT Supervisor,10+ years,MORTGAGE,Source Verified,Dec-2018,Current,n,NaN,debt_consolidation,Debt consolidation,985xx,WA,Feb-2006,w,Feb-2019,Mar-2019,Feb-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN
4,60 months,C,C4,Mechanic,10+ years,MORTGAGE,Not Verified,Dec-2018,Current,n,NaN,debt_consolidation,Debt consolidation,212xx,MD,Dec-2000,w,Feb-2019,Mar-2019,Feb-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN

In [0]:
# There are 36 categorical variables in total

cat_vars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 36 columns):
 #   Column                     Dtype
---  ------                     -----
 0   term                       object
 1   grade                      object
 2   sub_grade                  object
 3   emp_title                  object
 4   emp_length                 object
 5   home_ownership             object
 6   verification_status        object
 7   issue_d                    object
 8   loan_status                object
 9   pymnt_plan                 object
 10  desc                       object
 11  purpose                    object
 12  title                      object
 13  zip_code                   object
 14  addr_state                 object
 15  earliest_cr_line           object
 16  initial_list_status        object
 17  last_pymnt_d               object
 18  next_pymnt_d               object
 19  last_credit_pull_d         object
 20  application_type           object
 21  verification_status_joint  object
 22  sec_app_earliest_cr_line   object
 23  hardship_flag              object
 24  hardship_type              object
 25  hardship_reason            object
 26  hardship_status            object
 27  hardship_start_date        object
 28  hardship_end_date          object
 29  payment_plan_start_date    object
 30  hardship_loan_status       object
 31  disbursement_method        object
 32  debt_settlement_flag       object
 33  debt_settlement_flag_date  object
 34  settlement_status          object
 35  settlement_date            object
dtypes: object(36)
memory usage: 620.9+ MB

Because of issues of kernel crashes due to the volume of data, take a sample of 200000 instances for processing.

In [0]:
# Take sample

cat_sample = cat_vars_df.sample(200000)

There are a lot of missing values in the data. Because we have a lot of data, it is okay to drop variables that have 60% or more missing values. I proceed to make a list of such variables and drop them from the analysis.

In [0]:
# Make a list of variables with 60% or more missing values

drop_missing_values = []
for column_name in cat_sample.columns:
    numerator = cat_sample[column_name].isnull().sum()
    denominator = numerator + cat_sample[column_name].count()
    if (numerator*100/denominator) >= 60:
        drop_missing_values.append(column_name)

In [0]:
# Drop columns with 60% or more of missing values

cat_sample.drop(drop_missing_values, axis = 1, inplace = True)

In [0]:
# The total number of categorical variables is now reduced to 23

cat_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 1063063 to 1308380
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   term                  200000 non-null  object
 1   grade                 200000 non-null  object
 2   sub_grade             200000 non-null  object
 3   emp_title             185164 non-null  object
 4   emp_length            186914 non-null  object
 5   home_ownership        200000 non-null  object
 6   verification_status   200000 non-null  object
 7   issue_d               200000 non-null  object
 8   loan_status           200000 non-null  object
 9   pymnt_plan            200000 non-null  object
 10  purpose               200000 non-null  object
 11  title                 197897 non-null  object
 12  zip_code              200000 non-null  object
 13  addr_state            200000 non-null  object
 14  earliest_cr_line      199998 non-null  object
 15  initial_list_status   200000 non-null  object
 16  last_pymnt_d          199795 non-null  object
 17  next_pymnt_d          84752 non-null   object
 18  last_credit_pull_d    199996 non-null  object
 19  application_type      200000 non-null  object
 20  hardship_flag         200000 non-null  object
 21  disbursement_method   200000 non-null  object
 22  debt_settlement_flag  200000 non-null  object
dtypes: object(23)
memory usage: 36.6+ MB

Certain categorical variables were processed together with continuous variables because by their descriptions, they are supposed to be numerical yet they appeared in the data as strings. The variables having been processed already, they are dropped from the analysis at this point. Some date variables like last-credit-pull-date, next-payment-date and last payment-date are meaningless. Also, employment-title and title are redundant, moreover their inclusion creates more memory issues for the analysis, all these variables are dropped.

In [0]:
# Drop already processed variables and meaningless variables

cat_sample.drop(['term', 'issue_d', 'earliest_cr_line', 'emp_length', 'last_credit_pull_d', 'next_pymnt_d', 'last_pymnt_d', 'emp_title', 'title'], axis = 1, inplace = True)

A significant challenge arose during this analysis. Local computer resources could not handle the sheer volume of the data as the python kernel crashed severally when doing certain memory intensive computations. The problem called for some solutions to navigate around such as spliting the dataset into smaller chunks of contiuous and categorical variables into separate dataframes and using a small sample of of intances to explore the data and select features to include the credit risk model.

It must be noted that categorical variables particularly made the problem worse as there are many of such variables which after one hot encoding, they ate up a lot of disk space and memory even though these variables are very sparse in nature. This problem is still hanging around at this point in the analysis. To get around this problem and prevent kernel crashes, I apply statistical methods of weight of evidence and information value to select only statistically impactful categorical variables that have better prospects of predicting loan default. This way, I reduce the number of unnecessary and insignificant categorical variables, save computer resources and prevent kernel crashes. 

The variables selected subsequently by way of weight of evidence and information value will be included in estiamting the probability of default model. Their predictive power will then be assessed again in the model and in conjuction with other variables. I proceed to calcualte weight of evidence and information value for all the remaining number of categorical variables and select only those that have a high information value.

In [0]:
# Quick view dataframe

cat_sample.head()

,grade,sub_grade,home_ownership,verification_status,loan_status,pymnt_plan,purpose,zip_code,addr_state,initial_list_status,application_type,hardship_flag,disbursement_method,debt_settlement_flag
1063063,C,C3,RENT,Not Verified,Fully Paid,n,credit_card,088xx,NJ,w,Individual,N,Cash,N
113502,B,B5,MORTGAGE,Not Verified,Current,n,debt_consolidation,982xx,WA,f,Individual,N,Cash,N
502881,C,C1,MORTGAGE,Not Verified,Current,n,debt_consolidation,410xx,KY,w,Individual,N,Cash,N
2252036,E,E2,RENT,Not Verified,Current,n,other,460xx,IN,f,Individual,N,Cash,N
1717203,D,D4,MORTGAGE,Verified,Fully Paid,n,debt_consolidation,074xx,NJ,w,Individual,N,Cash,N

In [0]:
cat_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 1063063 to 1308380
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   grade                 200000 non-null  object
 1   sub_grade             200000 non-null  object
 2   home_ownership        200000 non-null  object
 3   verification_status   200000 non-null  object
 4   loan_status           200000 non-null  object
 5   pymnt_plan            200000 non-null  object
 6   purpose               200000 non-null  object
 7   zip_code              200000 non-null  object
 8   addr_state            200000 non-null  object
 9   initial_list_status   200000 non-null  object
 10  application_type      200000 non-null  object
 11  hardship_flag         200000 non-null  object
 12  disbursement_method   200000 non-null  object
 13  debt_settlement_flag  200000 non-null  object
dtypes: object(14)
memory usage: 22.9+ MB

Information value measures how much information an independent variable provides to explaining a dependent variable. Information value requires weight of evidence for its calculation. Weight of evidence itself is another metric that quantifies the predictive ability of an independent variable in relation to the dependent variable. The information value is a weighted average of weight of evidence. Information value ranges between 0 and 1. To be considered a good predictor of a dependent variable, the information value of an independent variable must be at least greater or equal to 0.2 (ie. IV >= 0.2, at least 20% worth of information value).

These computations are not difficult but they are tedious because a series of calculations are needed each time to compute weight of evidence and information value. To make this easier, a function is defined below that calculates weight of evidence (WoE) and Information Value (IV) for all the categorical variables and those variables that meet the decision condition (ie. IV >= 0.2) will be seleceted.

To calucualte information value, I need the target variable, hence, I declare the target and split up the data.

In [0]:
# Declare and insert the target variable into the dataset

cat_sample['good_bad'] = np.where(cat_sample['loan_status'].isin(['Charged Off', 'Default', 
                                                                   'Late (16-30 days)',
                                                                   'Does not meet the credit policy. Status:Charged Off',
                                                                   ]), 0, 1)

In [0]:
# Split up the data into train and test set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(cat_sample.drop('good_bad', axis = 1), cat_sample['good_bad'])

In [0]:
# Name the train sets so they can be used in the calculation of weight of evidence and information value

df_prepr = X_train
df_target = y_train

In [0]:
# Quick view dataframe

df_prepr.head()

,grade,sub_grade,home_ownership,verification_status,loan_status,pymnt_plan,purpose,zip_code,addr_state,initial_list_status,application_type,hardship_flag,disbursement_method,debt_settlement_flag
2157720,A,A4,MORTGAGE,Verified,Current,n,home_improvement,606xx,IL,w,Joint App,N,Cash,N
1765346,A,A5,MORTGAGE,Not Verified,Fully Paid,n,credit_card,451xx,OH,w,Individual,N,Cash,N
492887,D,D1,MORTGAGE,Verified,Late (31-120 days),n,debt_consolidation,684xx,NE,w,Individual,N,Cash,N
26357,A,A4,MORTGAGE,Not Verified,Current,n,debt_consolidation,973xx,OR,w,Individual,N,DirectPay,N
1811404,E,E2,RENT,Not Verified,Fully Paid,n,debt_consolidation,180xx,PA,f,Individual,N,Cash,N

In [0]:
# Define a function to calculate weight of evidence and information value

def woe_discrete(df, discrete_variable_name, good_bad_variable_df):
    df = pd.concat([df[discrete_variable_name], good_bad_variable_df], axis = 1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[:, [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df['n_good'] = df['prop_good'] * df['n_obs']
    df['n_bad'] = (1 - df['prop_good']) * df['n_obs']
    df['prop_n_good'] = df['n_good'] / df['n_good'].sum()
    df['prop_n_bad'] = df['n_bad'] / df['n_bad'].sum()
    df['WoE'] = np.log(df['prop_n_good'] / df['prop_n_bad'])
    df = df.sort_values(['WoE'])
    df = df.reset_index(drop = True)
    df['diff_prop_good'] = df['prop_good'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    df['IV'] = (df['prop_n_good'] - df['prop_n_bad']) * df['WoE']
    df['IV'] = df['IV'].sum()
    return df

In [0]:
df_temp = woe_discrete(df_prepr, 'grade', df_target)
df_temp

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,G,832,0.623798,0.005547,519.0,313.0,0.003918,0.017851,-1.516483,NaN,NaN,0.491932
1,F,2710,0.652399,0.018067,1768.0,942.0,0.013347,0.053724,-1.392585,0.028600,0.123898,0.491932
2,E,8951,0.731650,0.059673,6549.0,2402.0,0.049439,0.136991,-1.019174,0.079252,0.373412,0.491932
3,D,21498,0.813192,0.143320,17482.0,4016.0,0.131973,0.229041,-0.551299,0.081542,0.467875,0.491932
4,C,43306,0.872050,0.288707,37765.0,5541.0,0.285092,0.316015,-0.102976,0.058858,0.448322,0.491932
5,B,44001,0.922820,0.293340,40605.0,3396.0,0.306531,0.193681,0.459109,0.050770,0.562085,0.491932
6,A,28702,0.967807,0.191347,27778.0,924.0,0.209699,0.052698,1.381103,0.044987,0.921995,0.491932

In [0]:
df_temp = woe_discrete(df_prepr, 'sub_grade', df_target)
df_temp

,sub_grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,G5,99,0.555556,0.000660,55.0,44.0,0.000415,0.002509,-1.799041,NaN,NaN,0.531467
1,F2,597,0.621441,0.003980,371.0,226.0,0.002801,0.012889,-1.526517,0.065885,0.272524,0.531467
2,G1,276,0.626812,0.001840,173.0,103.0,0.001306,0.005874,-1.503622,0.005371,0.022896,0.531467
3,F5,313,0.632588,0.002087,198.0,115.0,0.001495,0.006559,-1.478849,0.005776,0.024772,0.531467
4,G2,180,0.633333,0.001200,114.0,66.0,0.000861,0.003764,-1.475640,0.000745,0.003209,0.531467
5,G4,116,0.637931,0.000773,74.0,42.0,0.000559,0.002395,-1.455789,0.004598,0.019852,0.531467
6,G3,161,0.639752,0.001073,103.0,58.0,0.000778,0.003308,-1.447898,0.001821,0.007891,0.531467
7,F4,402,0.644279,0.002680,259.0,143.0,0.001955,0.008156,-1.428201,0.004527,0.019697,0.531467
8,F3,500,0.652000,0.003333,326.0,174.0,0.002461,0.009924,-1.394342,0.007721,0.033859,0.531467
9,F1,898,0.683742,0.005987,614.0,284.0,0.004635,0.016197,-1.251163,0.031742,0.143179,0.531467
10,E5,1526,0.720183,0.010173,1099.0,427.0,0.008296,0.024353,-1.076812,0.036442,0.174351,0.531467
11,E3,1752,0.723174,0.011680,1267.0,485.0,0.009565,0.027661,-1.061926,0.002990,0.014886,0.531467
12,E4,1503,0.724551,0.010020,1089.0,414.0,0.008221,0.023611,-1.055035,0.001377,0.006891,0.531467
13,E2,1993,0.737080,0.013287,1469.0,524.0,0.011090,0.029885,-0.991339,0.012529,0.063696,0.531467
14,E1,2177,0.746440,0.014513,1625.0,552.0,0.012267,0.031482,-0.942469,0.009360,0.048870,0.531467
15,D5,3184,0.792714,0.021227,2524.0,660.0,0.019054,0.037641,-0.680824,0.046274,0.261645,0.531467
16,D2,4982,0.806303,0.033213,4017.0,965.0,0.030325,0.055036,-0.596022,0.013589,0.084802,0.531467
17,D4,3769,0.811356,0.025127,3058.0,711.0,0.023085,0.040550,-0.563340,0.005053,0.032681,0.531467
18,D3,4209,0.822998,0.028060,3464.0,745.0,0.026150,0.042489,-0.485389,0.011643,0.077951,0.531467
19,D1,5354,0.825364,0.035693,4419.0,935.0,0.033360,0.053325,-0.469062,0.002366,0.016327,0.531467
20,C5,7716,0.852644,0.051440,6579.0,1137.0,0.049666,0.064845,-0.266695,0.027280,0.202367,0.531467
21,C4,8459,0.857430,0.056393,7253.0,1206.0,0.054754,0.068781,-0.228078,0.004786,0.038617,0.531467
22,C3,8654,0.872082,0.057693,7547.0,1107.0,0.056973,0.063134,-0.102688,0.014652,0.125390,0.531467
23,C2,8697,0.878004,0.057980,7636.0,1061.0,0.057645,0.060511,-0.048522,0.005922,0.054166,0.531467
24,C1,9780,0.894683,0.065200,8750.0,1030.0,0.066055,0.058743,0.117311,0.016679,0.165833,0.531467
25,B5,9416,0.906436,0.062773,8535.0,881.0,0.064432,0.050245,0.248689,0.011753,0.131378,0.531467
26,B4,9274,0.915247,0.061827,8488.0,786.0,0.064077,0.044827,0.357268,0.008811,0.108579,0.531467
27,B3,8697,0.920892,0.057980,8009.0,688.0,0.060461,0.039238,0.432348,0.005645,0.075080,0.531467
28,B2,8276,0.934509,0.055173,7734.0,542.0,0.058385,0.030911,0.635931,0.013617,0.203583,0.531467
29,B1,8338,0.940154,0.055587,7839.0,499.0,0.059177,0.028459,0.732076,0.005644,0.096145,0.531467
30,A5,7077,0.948990,0.047180,6716.0,361.0,0.050700,0.020589,0.901186,0.008836,0.169110,0.531467
31,A4,6359,0.965561,0.042393,6140.0,219.0,0.046352,0.012490,1.311324,0.016571,0.410138,0.531467
32,A3,4933,0.968174,0.032887,4776.0,157.0,0.036055,0.008954,1.392929,0.002613,0.081605,0.531467
33,A2,4578,0.977720,0.030520,4476.0,102.0,0.033790,0.005817,1.759328,0.009546,0.366399,0.531467
34,A1,5755,0.985230,0.038367,5670.0,85.0,0.042803,0.004848,2.178109,0.007511,0.418781,0.531467

In [0]:
df_temp = woe_discrete(df_prepr, 'verification_status', df_target)
df_temp

,verification_status,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,Verified,41660,0.844095,0.277733,35165.0,6495.0,0.265464,0.370423,-0.333166,NaN,NaN,0.086755
1,Source Verified,58840,0.879215,0.392267,51733.0,7107.0,0.390538,0.405327,-0.037168,0.035120,0.295997,0.086755
2,Not Verified,49500,0.920566,0.330000,45568.0,3932.0,0.343998,0.224250,0.427873,0.041351,0.465042,0.086755

In [0]:
df_temp = woe_discrete(df_prepr, 'pymnt_plan', df_target)
df_temp

,pymnt_plan,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,n,149949,0.883074,0.99966,132416.0,17533.0,0.999623,0.999943,-0.000320,NaN,NaN,0.000606
1,y,51,0.980392,0.00034,50.0,1.0,0.000377,0.000057,1.889839,0.097319,1.890159,0.000606

In [0]:
df_temp = woe_discrete(df_prepr, 'purpose', df_target)
df_temp

,purpose,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,educational,31,0.806452,0.000207,25.0,6.0,0.000189,0.000342,-0.595068,NaN,NaN,0.02404
1,small_business,1679,0.826087,0.011193,1387.0,292.0,0.010471,0.016653,-0.464040,0.019635,0.131028,0.02404
2,moving,940,0.834043,0.006267,784.0,156.0,0.005918,0.008897,-0.407631,0.007956,0.056408,0.02404
3,debt_consolidation,84787,0.873282,0.565247,74043.0,10744.0,0.558959,0.612752,-0.091886,0.039240,0.315746,0.02404
4,other,9290,0.879010,0.061933,8166.0,1124.0,0.061646,0.064104,-0.039099,0.005727,0.052787,0.02404
5,house,926,0.881210,0.006173,816.0,110.0,0.006160,0.006274,-0.018250,0.002200,0.020849,0.02404
6,medical,1834,0.881679,0.012227,1617.0,217.0,0.012207,0.012376,-0.013754,0.000470,0.004497,0.02404
7,renewable_energy,97,0.886598,0.000647,86.0,11.0,0.000649,0.000627,0.034268,0.004919,0.048022,0.02404
8,vacation,987,0.887538,0.006580,876.0,111.0,0.006613,0.006331,0.043652,0.000940,0.009384,0.02404
9,wedding,174,0.890805,0.001160,155.0,19.0,0.001170,0.001084,0.076802,0.003267,0.033150,0.02404
10,home_improvement,10075,0.897072,0.067167,9038.0,1037.0,0.068229,0.059142,0.142922,0.006267,0.066120,0.02404
11,major_purchase,3357,0.902294,0.022380,3029.0,328.0,0.022866,0.018707,0.200790,0.005222,0.057868,0.02404
12,credit_card,34209,0.905200,0.228060,30966.0,3243.0,0.233766,0.184955,0.234207,0.002907,0.033417,0.02404
13,car,1614,0.915737,0.010760,1478.0,136.0,0.011158,0.007756,0.363606,0.010537,0.129399,0.02404

In [0]:
df_temp = woe_discrete(df_prepr, 'addr_state', df_target)
df_temp

,addr_state,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,SD,289,0.840830,0.001927,243.0,46.0,0.001834,0.002623,-0.357764,NaN,NaN,inf
1,LA,1636,0.849633,0.010907,1390.0,246.0,0.010493,0.014030,-0.290457,0.008803,0.067307,inf
2,AL,1766,0.855040,0.011773,1510.0,256.0,0.011399,0.014600,-0.247497,0.005406,0.042960,inf
3,OK,1428,0.859944,0.009520,1228.0,200.0,0.009270,0.011406,-0.207359,0.004904,0.040137,inf
4,NV,2158,0.860519,0.014387,1857.0,301.0,0.014019,0.017167,-0.202577,0.000575,0.004783,inf
5,AR,1137,0.861917,0.007580,980.0,157.0,0.007398,0.008954,-0.190877,0.001398,0.011699,inf
6,MS,777,0.863578,0.005180,671.0,106.0,0.005065,0.006045,-0.176854,0.001661,0.014023,inf
7,VA,4202,0.871728,0.028013,3663.0,539.0,0.027652,0.030740,-0.105862,0.008150,0.070992,inf
8,NY,12491,0.872388,0.083273,10897.0,1594.0,0.082263,0.090909,-0.099943,0.000660,0.005919,inf
9,OH,5011,0.872481,0.033407,4372.0,639.0,0.033005,0.036443,-0.099113,0.000092,0.000830,inf
10,NM,800,0.872500,0.005333,698.0,102.0,0.005269,0.005817,-0.098938,0.000019,0.000175,inf
11,MO,2451,0.873929,0.016340,2142.0,309.0,0.016170,0.017623,-0.086030,0.001429,0.012908,inf
12,KY,1442,0.875867,0.009613,1263.0,179.0,0.009535,0.010209,-0.068325,0.001938,0.017705,inf
13,FL,10807,0.875914,0.072047,9466.0,1341.0,0.071460,0.076480,-0.067893,0.000047,0.000432,inf
14,RI,643,0.878694,0.004287,565.0,78.0,0.004265,0.004449,-0.042067,0.002780,0.025826,inf
15,CA,20939,0.878743,0.139593,18400.0,2539.0,0.138904,0.144804,-0.041604,0.000049,0.000463,inf
16,MN,2532,0.878752,0.016880,2225.0,307.0,0.016797,0.017509,-0.041520,0.000009,0.000084,inf
17,AZ,3539,0.879062,0.023593,3111.0,428.0,0.023485,0.024410,-0.038608,0.000310,0.002912,inf
18,MI,3847,0.879127,0.025647,3382.0,465.0,0.025531,0.026520,-0.037999,0.000065,0.000609,inf
19,MD,3612,0.879291,0.024080,3176.0,436.0,0.023976,0.024866,-0.036449,0.000165,0.001550,inf
20,PA,5055,0.879525,0.033700,4446.0,609.0,0.033563,0.034733,-0.034242,0.000234,0.002206,inf
21,HI,711,0.880450,0.004740,626.0,85.0,0.004726,0.004848,-0.025485,0.000925,0.008757,inf
22,NJ,5584,0.882701,0.037227,4929.0,655.0,0.037210,0.037356,-0.003928,0.002251,0.021557,inf
23,UT,954,0.883648,0.006360,843.0,111.0,0.006364,0.006331,0.005253,0.000947,0.009181,inf
24,NC,4265,0.884408,0.028433,3772.0,493.0,0.028475,0.028117,0.012667,0.000760,0.007415,inf
25,IN,2501,0.886046,0.016673,2216.0,285.0,0.016729,0.016254,0.028786,0.001638,0.016118,inf
26,TX,12395,0.886729,0.082633,10991.0,1404.0,0.082972,0.080073,0.035567,0.000683,0.006782,inf
27,MA,3584,0.887835,0.023893,3182.0,402.0,0.024021,0.022927,0.046629,0.001106,0.011062,inf
28,TN,2397,0.888194,0.015980,2129.0,268.0,0.016072,0.015285,0.050237,0.000359,0.003608,inf
29,AK,324,0.895062,0.002160,290.0,34.0,0.002189,0.001939,0.121336,0.006868,0.071100,inf
30,GA,4888,0.895867,0.032587,4379.0,509.0,0.033058,0.029029,0.129943,0.000806,0.008607,inf
31,DC,336,0.898810,0.002240,302.0,34.0,0.002280,0.001939,0.161882,0.002942,0.031939,inf
32,MT,411,0.900243,0.002740,370.0,41.0,0.002793,0.002338,0.177747,0.001434,0.015864,inf
33,IL,5979,0.900485,0.039860,5384.0,595.0,0.040644,0.033934,0.180441,0.000242,0.002695,inf
34,WA,3088,0.901554,0.020587,2784.0,304.0,0.021017,0.017338,0.192432,0.001069,0.011991,inf
35,NE,559,0.901610,0.003727,504.0,55.0,0.003805,0.003137,0.193059,0.000056,0.000627,inf
36,WI,1955,0.902813,0.013033,1765.0,190.0,0.013324,0.010836,0.206698,0.001203,0.013639,inf
37,DE,401,0.905237,0.002673,363.0,38.0,0.002740,0.002167,0.234633,0.002424,0.027935,inf
38,KS,1278,0.906103,0.008520,1158.0,120.0,0.008742,0.006844,0.244774,0.000866,0.010141,inf
39,CT,2393,0.906812,0.015953,2170.0,223.0,0.016382,0.012718,0.253127,0.000708,0.008353,inf
40,NH,743,0.907133,0.004953,674.0,69.0,0.005088,0.003935,0.256939,0.000322,0.003813,inf
41,OR,1719,0.908668,0.011460,1562.0,157.0,0.011792,0.008954,0.275292,0.001535,0.018353,inf
42,CO,3156,0.909696,0.021040,2871.0,285.0,0.021673,0.016254,0.287742,0.001028,0.012450,inf
43,SC,1852,0.912527,0.012347,1690.0,162.0,0.012758,0.009239,0.322703,0.002831,0.034961,inf
44,WV,534,0.915730,0.003560,489.0,45.0,0.003692,0.002566,0.363516,0.003203,0.040813,inf
45,WY,289,0.916955,0.001927,265.0,24.0,0.002001,0.001369,0.379492,0.001225,0.015976,inf
46,ND,237,0.928270,0.001580,220.0,17.0,0.001661,0.000970,0.538230,0.011315,0.158738,inf
47,VT,317,0.930599,0.002113,295.0,22.0,0.002227,0.001255,0.573749,0.002329,0.035519,inf
48,ME,304,0.944079,0.002027,287.0,17.0,0.002167,0.000970,0.804085,0.013480,0.230336,inf
49,ID,283,0.954064,0.001887,270.0,13.0,0.002038,0.000741,1.011288,0.009985,0.207204,inf
50,IA,1,1.000000,0.000007,1.0,0.0,0.000008,0.000000,inf,0.045936,inf,inf

In [0]:
df_temp = woe_discrete(df_prepr, 'initial_list_status', df_target)
df_temp

,initial_list_status,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,f,48159,0.849665,0.32106,40919.0,7240.0,0.308902,0.412912,-0.290211,NaN,NaN,0.04715
1,w,101841,0.898921,0.67894,91547.0,10294.0,0.691098,0.587088,0.163107,0.049256,0.453318,0.04715

In [0]:
df_temp = woe_discrete(df_prepr, 'application_type', df_target)
df_temp

,application_type,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,Individual,142031,0.879484,0.946873,124914.0,17117.0,0.942989,0.976218,-0.034631,NaN,NaN,0.030202
1,Joint App,7969,0.947672,0.053127,7552.0,417.0,0.057011,0.023782,0.874297,0.068188,0.908928,0.030202

In [0]:
df_temp = woe_discrete(df_prepr, 'hardship_flag', df_target)
df_temp

,hardship_flag,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,N,149940,0.883087,0.9996,132410.0,17530.0,0.999577,0.999772,-0.000195,NaN,NaN,0.00012
1,Y,60,0.933333,0.0004,56.0,4.0,0.000423,0.000228,0.616873,0.050247,0.617068,0.00012

In [0]:
df_temp = woe_discrete(df_prepr, 'disbursement_method', df_target)
df_temp

,disbursement_method,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,Cash,144835,0.879484,0.965567,127380.0,17455.0,0.961605,0.995494,-0.034636,NaN,NaN,0.073785
1,DirectPay,5165,0.984705,0.034433,5086.0,79.0,0.038395,0.004506,2.142615,0.105221,2.17725,0.073785

In [0]:
df_temp = woe_discrete(df_prepr, 'debt_settlement_flag', df_target)
df_temp

,debt_settlement_flag,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,Y,2195,0.034624,0.014633,76.0,2119.0,0.000574,0.120851,-5.350150,NaN,NaN,0.658924
1,N,147805,0.895707,0.985367,132390.0,15415.0,0.999426,0.879149,0.128227,0.861083,5.478377,0.658924

In [0]:
df_temp = woe_discrete(df_prepr, 'home_ownership', df_target)
df_temp

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,home_ownership,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,NONE,2,0.000000,0.000013,0.0,2.0,0.000000,0.000114,-inf,NaN,NaN,inf
1,RENT,59513,0.862870,0.396753,51352.0,8161.0,0.387662,0.465439,-0.182847,0.862870,inf,inf
2,OWN,16915,0.885132,0.112767,14972.0,1943.0,0.113025,0.110813,0.019764,0.022261,0.202611,inf
3,MORTGAGE,73504,0.898999,0.490027,66080.0,7424.0,0.498845,0.423406,0.163964,0.013867,0.144200,inf
4,OTHER,11,0.909091,0.000073,10.0,1.0,0.000075,0.000057,0.280401,0.010092,0.116437,inf
5,ANY,55,0.945455,0.000367,52.0,3.0,0.000393,0.000171,0.830447,0.036364,0.550046,inf

The list below is the list of categorical variables selected for building the credit risk model. Home Ownsership is included in this list so that its effects can be estimated once more in the risk model.

In [0]:
selected_cat_vars = ['debt_settlement_flag', 'grade', 'sub_grade', 'loan_status', 'home_ownership']

In [0]:
selected_cat_vars

['debt_settlement_flag', 'grade', 'sub_grade', 'loan_status', 'home_ownership']